
<div class="d-flex align-items-center justify-content-center" style="height: 250px;" >
    <div class="p-2 m-2 ">
        <form asp-controller="Name" asp-action="ValidateName" method="post">
            <label for="Firstname">Firstname</label>
    <input type="text" id="Firstname" name="Firstname"/>
    <label for="Lastname">Lastname</label>
    <input type="text" id="Lastname" name="Lastname" />
            <input type="submit">
        </form>
    </div>
        </div>
<div class="p-2 m-2">
    @if (@Model.nameIsValid && @Model.showNameEvaluation)
    {
        <h1 style="color:green;">Name is valid</h1>
    }
    else if (!@Model.nameIsValid && Model.showNameEvaluation)
    {
        <h1 style="color:red;">Name is invalid</h1>
    }
</div>
